.signup
{
    text-align: center;
    margin-top: 200px;
}
.tbox3
{
    clear: both;
    height: 30px;
    width: 270px;
    margin-top: 2px;
}
.tbox4
{
    clear: both;
    height: 30px;
    width: 270px;
    margin-top: 2px;
}
.tbox5
{
    clear: both;
    height: 30px;
    width: 270px;
    margin-top: 2px;
}
.submit
{
    height: 30px;
    margin-top: 2px;
}
